<!DOCTYPE html>
<html>
<head>
	<title>AIHackathon - About Us</title>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'webapp/imgs/artificial-intelligence.png' %}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../../static/webapp/styles.css">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<!-- Timeline CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/app/timeline.css"> -->
	<!-- Noto Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> 
	<!-- PT Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> 
	<!-- Open Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet"> 
	<!-- PT Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet"> 
	<!-- Oxygen Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
	<!-- Overpass Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="../../static/app/js/jquery.scoped.js"></script>
	<link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
</head>

<body>
	<script type="text/javascript">
		$.scoped();	
	</script>

	<!-- NAVBAR -->
	{% include "webapp/navbar.html" %}	

	<div class="aboutus-titlebox" ">
		<h1 id="aboutus-title">About Us</h1>
	</div>

	<div class="container aboutus-box">
		<div class="row aboutus-div">
				<div class="col-sm-6 col-lg-4">
					<a href="https://www.tatamotors.com/" class="aboutus-links">
						<img src="{% static 'webapp/imgs/TataMotorsLogo.svg' %}" width="250px" style="filter: brightness(0);" class="aboutus-img">
					</a>
				</div>
				<div class="col-sm-6 col-lg-8 aboutus-content">
					<p>Tata Motors Limited, a USD 45 billion organisation, is a leading global automobile manufacturer with a portfolio that covers a wide range of cars, SUVs, buses, trucks, pickups and defence vehicles. Global Delivery Centre is the captive shared services centre for TML focused on bringing digital transformation through its Digital Tower.</p>
				</div>
		</div>
		<div class="row aboutus-div">
				<div class="col-sm-6 col-lg-4">
					<a href="https://www.sitpune.edu.in/" class="aboutus-links">
						<img src="{% static 'webapp/imgs/SIT_Logo_new.png' %}" width="250px" class="aboutus-img">
					</a>
				</div>
				<div class="col-sm-6 col-lg-8 aboutus-content">
					<p>Symbiosis Institute of Technology, a constituent of Symbiosis International University was established in the year, 2008 and currently offers B. Tech programmes in Civil Engineering, Computer Science and Engineering, Electronics & Telecommunication Engineering and Mechanical Engineering.</p>
				</div>
		</div>
		<div class="row aboutus-div">
				<div class="col-sm-6 col-lg-4">
					<a href="http://www.scei.org.in/" class="aboutus-links">
						<img src="{% static 'webapp/imgs/SCEI_4.png' %}" width="245px" class="aboutus-img">
					</a>
				</div>
				<div class="col-sm-6 col-lg-8 aboutus-content">
					<br>
					<p>Symbiosis Centre for Entrepreneurship and Innovation (SCEI) is a Government recognized and funded startup-incubator (TBI). SCEI is founded and funded by the highly acclaimed Symbiosis International (Deemed University)</p>
				</div>
		</div>
		<div class="row aboutus-div">
				<div class="col-sm-6 col-lg-4">
					<a href="https://www.sitpune.edu.in/" class="aboutus-links">
						<img src="{% static 'webapp/imgs/symbiosislogo.png' %}" width="80px" style="margin-top: 20px;" class="aboutus-img">
					</a>
				</div>
				<div class="col-sm-6 col-lg-8 aboutus-content">
					<p>Symbiosis Center for Applied Artificial Intelligence (SCAAI), a constituent of Symbiosis Institute of Technology was established to develop novel techniques in various domains of AI (machine learning, deep learning, probabilistic reasoning etc.), application of these algorithms to a variety of problems specifically focusing in two domains namely healthcare and robotics and translation of the above two aims into novel product ideas for start-up industries and opportunity generation for consultancy to industry.  
					</p>
				</div>
		</div>
	</div>

	{% include "webapp/footer.html" %}

<!-- Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- JQUERY -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script> -->

<!-- NAVBAR SCROLL SCRIPT -->
<script type="text/javascript">
		$(function(){
			$(document).scroll(function(){
				var $nav = $(".navbar");
				var $link = $(".nav-link");
				$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
				// $link.toggleClass("colorChange", $(this).scrollTop() > $nav.height());
			})
		})
</script>
</body>
</html>