<!DOCTYPE html>
<html>
<head>
	<title>AIHackathon - Privacy Policy</title>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'webapp/imgs/artificial-intelligence.png' %}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../../static/webapp/styles.css">
	<script>document.getElementsByTagName("html")[0].className +" js";</script>
	<!-- Timeline CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/app/timeline.css"> -->
	<!-- Noto Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> 
	<!-- PT Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> 
	<!-- Open Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet"> 
	<!-- PT Sans Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet"> 
	<!-- Oxygen Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
	<!-- Overpass Mono Font -->
	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="../../static/app/js/jquery.scoped.js"></script>
	<link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
</head>

<body>
	<script type="text/javascript">
		$.scoped();	
	</script>

	<!-- NAVBAR -->
	{% include "webapp/navbar.html" %}	

	<div style="margin-top: 70px;">
		<h1 id="privacy-title">Privacy Policy</h1>
	</div>

	<section class="row" style="max-width: 100%; text-align: justify; margin-bottom: 30px;">
        <div class="container">
            <div class="row">
              <div id="singlepagecontent" class="col-12 col-sm-12">
                   <!--  <p></p><p><strong>Group Technology &amp; Innovation Office, Tata Sons Limited</strong><br>
					<strong>AI Hackathon - Privacy Policy</strong></p> -->

					<p><strong>Scope</strong></p>

					<p>This is the privacy policy of Tata Motors Limited Global Delivery Centre with regard to:</p>
					<ol>
					<li>any personal information provided by entities and persons who provide solutions for Tata Motors Hackathon</li>
					<li>personal information collected and used by Tata Motors Global Delivery Centre directly or indirectly.</li>
					</ol>
					<p>'Personal Information' includes any information that relates to a natural person which, either directly or indirectly, in combination with other information available or likely to be available with a body corporate, is capable of identifying such person.</p>
					<p><em><strong>'Sensitive personal data or information'</strong></em><strong> is a sub-set of personal information and includes the following information:</strong></p>
					<ol>
					<li>password;</li>
					<li>financial information such as bank account or credit card or debit card or other payment instrument details;</li>
					<li>physical, physiological and mental health condition;</li>
					<li>sexual orientation;</li>
					<li>medical records and history;</li>
					<li>biometric information;</li>
					<li>any detail relating to the above clauses as provided to body corporate for providing service; and</li>
					<li>any of the information received under the above clauses by body corporate for processing, stored or processed under lawful contract or otherwise.</li>
					</ol>
					<p><strong>'Non-personal Information' includes information which is not Personal Information.</strong></p>
					<p>What information do we collect?</p>
					<p>The personal information that we collect could include:</p>
					<ol>
					<ol>
					<li>Information about You that You provide directly.</li>
					<li>Device information, location information, cookies, and anonymous identifiers.</li>
					<li>Information about You that may be collected by us:</li>
					<ol>
					<li>In the course of telephonic discussions.</li>
					<li>While on visits or during personal meetings</li>
					<li>When you use our website, mobile applications or services</li>
					<li>During other interactions between us or from legitimate commercial or non-commercial sources</li>
					</ol>
					</ol>
					</ol>
					<p>We may also gather certain information automatically and store it in log files. For example, this information may include Internet Protocol (IP) addresses or other device identifiers, browser information, cookies, Internet Service Provider (ISP), operating system, location, date/time stamp and clickstream data.</p>
					<p><strong>What is the purpose of the collection of information about you?</strong></p>
					<p>The primary purpose of such collection is to</p>
					<ol>
					<ol>
					<ol>
					<li>allow Tata Motors Limited Global Delivery Centre and Symbiosis Institute of Technology to evaluate the entries submitted by you pursuant to the said event and get in touch with you in connection with the event.</li>
					<li>improve this website and its services</li>
					<li>protect our interests where we seek to enforce our policies and agreements.</li>
					<li>respond to a request from law enforcement or government or government entity.</li>
					</ol>
					</ol>
					</ol>
					<p><strong>What else will we do with the information about You?</strong></p>
					<p>We may disclose the personal information provided by you to Tata companies which may, from time-to-time, participate in the event or similar programs conducted by them, whether or not via the Hackathon website with the consent to them to use the information about You to:</p>
					<ol>
					<li>Provide products and services to You</li>
					<li>To inform You about products and services<em>(including those of various Tata companies or their partners)</em></li>
					<li>To communicate with You about future Tata products and services</li>
					<li>Work on joint promotions or other joint programs with our business partners</li>
					<li>Work with external service providers who provide us with business or operational services or to whom we have outsourced any operations</li>
					<li>Send you joint communications with our partners/ associates where we think those would be of interest to you</li>
					<li>Combine such information with other information available with various Tata companies or where there is a reorganization of our operations or combination thereof with other Tata entities, with information available with such reorganized or combined entities.</li>
					<li>Protect our interests where we seek to enforce our policies and agreements.</li>
					<li>Respond to a request from law enforcement or government or government entity</li>
					</ol>
					<p>We may share aggregated, non-personally identifiable information publicly and with our partners  like publishers, advertisers or connected sites. For example, we may make some information public to show trends about the general use of our website and the performance of various competitions and other initiatives conducted by us.</p>
					<p></p>
					<p><strong>Important to note:</strong></p>
					<ol>
					<li>We shall share your personal information only with such companies, organisations, and individuals that ensure the same level of data protection that is set out under this policy and as required by applicable Indian laws.</li>
					<li>We do not sell Your personal information to marketing companies outside of the Tata Group</li>
					<li>You are not bound to provide us any of your personal information. However, if you do not wish to provide your personal information to us that is necessary for this event, we may not be able to provide you with access to the hackathon website or related website.</li>
					<li>You can stop receiving promotional email or postal communications from us by following the instructions in those messages</li>
					<li>We are committed to working with you and data protection authorities to resolve any privacy concerns.</li>
					<li>We comply with the privacy policy provisions of Indias Information Technology Act 2000.</li>
					<li>Any claims and disputes shall be subject to the sole and exclusive jurisdiction of the appropriate courts in Mumbai, India alone.</li>
					</ol>
					<p>Where possible, we will try to ensure that our disclosure of information to other organizations (for example market researchers, and others with whom we have commercial arrangements) does not identify individuals.</p>
					<p>Before using personal information provided by you for a purpose other than those that are set out in this Policy, we will update or modify this Policy and publish the updated Policy on our website or otherwise obtain your consent for such use.</p>
					<p><strong>Disclosure of Personal Information to third party contractors</strong></p>
					<p>We may share your personal information with a third party for following reasons and under the following circumstances:</p>
					<ol>
					<li><strong>For external processing: </strong>provide your personal information to our affiliates or other business associates or persons to process it for us, based on our instructions and in compliance with this Policy and applicable laws.</li>
					<li><strong>Third-Party Service Providers: </strong>We employ other companies and individuals to perform certain functions on our behalf. Examples include analysing data, providing search results and providing customer service. They have access to your personal information needed to perform their functions but shall not use it for other purposes or disclose it further.</li>
					<li><strong>Links to Third-Party Sites and Social Media: </strong>Our site may include links to 3rd party sites and the social media and/or plugins to third party sites such as a Facebook Like button or we may allow login through a third party account such as Facebook, in which case you must understand and agree that, We do not control these third party sites, and we encourage You to read the privacy policy of every site You visit.</li>
					<li>Your use of these features such as Third-party plugins and login features, including their loading, operation and use, are governed by the privacy policy and terms of the third-party providing them.</li>
					</ol>
					<p><strong>Access to your Personal Information</strong></p>
					<p>If you wish to access your personal information as recorded with us, please write to us at [<u>aihackathon@sitpune.edu.in</u>]. Of course, before we provide you with access to your personal information we will require some proof of your identity. For most requests, your information will be provided free of charge, but we may charge a reasonable fee if your request involves a substantial effort on our part.</p>
					<p>If you need to update your personal information in our records (e.g. if you change your address) and you are not able to do it yourself due to lack of functionality in our Website, then please contact the Privacy Officer as stated above, to enable us to make the change.</p>
					<p>We shall not be responsible for the authenticity of any personal information supplied to us by You.</p>
					<p><strong>Security of your personal information</strong></p>
					<p>The types of measures we take to assure the security of your personal information may vary with the type of information and the manner in which it is collected and stored. We strive to protect ourselves and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:</p>
					<ol>
					<li>We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</li>
					<li>We restrict access to personal information to our employees, contractors and agents who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</li>
					<li>We also take measures to destroy or permanently de-identify or delete personal information as soon as possible after we determine that it is no longer required by us.</li>
					</ol>
					<p><strong>For any queries:</strong></p>
					<p>Please write to us at <u>aihackathon@sitpune.edu.in</u></p>
					<p><strong>Changes to privacy policy</strong></p>
					<p>Our Policy may change from time to time. We will post any changes or update to this Policy on this webpage and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of Policy changes). We will also keep prior versions of this Policy in an archive for your review.</p>
					<p></p>
				</div>
			</div>
	    </div>
	</section>

   	{% include "webapp/footer.html" %}
</body>
</html>