<html>
<head>
    <title>AIHackathon - Login to upload solution</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'webapp/imgs/artificial-intelligence.png' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Jquery Toast CSS -->
    <link href="{% static 'webapp/jquery.toast.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/webapp/styles.css">
    <!-- Noto Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- PT Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <!-- PT Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Oxygen Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <!-- Overpass Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<!-- NAVBAR -->
{#{% include "webapp/navbar.html" %}#}


{#<!--  <form action="{% url 'upload_solution' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <input name="upload_key" />#}
{#            <button type="submit">Submit</button>#}
{#        </form> -->#}
{##}
{#<div class="registration-box">#}
{#    <h1 id="startupRegistrationTitle">Login</h1>#}
{#</div>#}
{##}
{#<div class="container form-custom">#}
{#    <form method="POST" id="loginForm">#}
{#        {% csrf_token %}#}
{##}
{#        <div class="row">#}
{#            <div class="col-sm-12 col-lg-12">#}
{#                <div class="form-group">#}
{#                    <input class="form-control" id="teamEmail" name="teamEmail" placeholder="Team Email" required#}
{#                           type="text">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-sm-12 col-lg-12">#}
{#                <div class="form-group">#}
{#                    <input type="password" class="form-control" id="password" placeholder="Password" required#}
{#                           name="password">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <button type="submit" class="btn btn-primary submitBtn">Submit</button>#}
{#    </form>#}
{#</div>#}

{#{% include "webapp/footer.html" %}#}
{% block content %}

{% endblock %}

<script src="{% static 'webapp/js/jquery.toast.js' %}" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        // setup session cookie data. This is Django-related
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // end session cookie data setup.


// declare an empty array for potential uploaded files
        var fileItemList = [];

        $('#ok').on('click', function() {
            uploadNow()
        })

// auto-upload on file input change.
        function uploadNow() {
            let dockerfile = $(`input[name='docker_file']`).prop('files')

            console.log("DockerFile: " + dockerfile.name)

            let progfile = $(`input[name='prog_file']`).prop('files')

            console.log("ProgFile: " + progfile.name)

            let infofile = $(`input[name='info_file']`).prop('files')

            console.log("InfoFile: " + infofile.name)

            {#uploadFile(dockerfile)#}
            {#uploadFile(progfile)#}
            {#uploadFile(infofile)#}

            window.setTimeout(function() {
                alert("Uploaded Successfully.")
            }, 1000)
            {#alert("Files Uploaded")#}
        }



        function verifyFileIsImageMovieAudio(file) {
            // verifies the file extension is one we support.
            var extension = file.name.split('.').pop().toLowerCase(); //file.substr( (file.lastIndexOf('.') +1) );
            switch (extension) {
                case 'jpg':
                case 'png':
                case 'gif':
                case 'jpeg':
                    return file;
                case 'mov':
                case 'mp4':
                case 'mpeg4':
                case 'avi':
                    return file;
                case 'mp3':
                    return file;
                default:
                    notAllowedFiles.push(file);
                    return null
            }
        }

        function constructFormPolicyData(policyData, fileItem) {
            var contentType = fileItem.type != '' ? fileItem.type : 'application/octet-stream';
            var url = policyData.url;
            var filename = policyData.filename;
            var repsonseUser = policyData.fields.user;
            // var keyPath = 'www/' + repsonseUser + '/' + filename
            var keyPath = policyData.file_bucket_path;

            let credential = policyData['fields']['x-amz-credential'];
            let algorithm = policyData['fields']['x-amz-algorithm'];
            let date = policyData['fields']['x-amz-date'];
            let signature = policyData['fields']['x-amz-signature'];

            let authorizationHeader = `${algorithm} Credential=${credential}, SignedHeaders=${contentType};host;${date}, Signature=${signature}`;

            var fd = new FormData();

            $.each(policyData.fields, function (key, value) {
                fd.append(key, value)
            })

            fd.append('file', fileItem)

            return fd
        }

        function fileUploadComplete(fileItem, policyData) {
            data = {
                uploaded: true,
                fileSize: fileItem.size,
                file: policyData.file_id,

            };
            $.ajax({
                method: "POST",
                data: data,
                url: "/api/files/complete/",
                success: function (data) {
                    displayItems(fileItemList)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Status: " + textStatus);
                    console.log("Error: " + errorThrown);
                    alert("An error occured, please refresh the page.")
                }
            })
        }

        function displayItems(fileItemList) {
            var itemList = $('.item-loading-queue');
            itemList.html("");
            $.each(fileItemList, function (index, obj) {
                var item = obj.file;
                var id_ = obj.id;
                var order_ = obj.order;
                var html_ = "<div class=\"progress\">" +
                    "<div class=\"progress-bar\" role=\"progressbar\" style='width:" + item.progress + "%' aria-valuenow='" + item.progress + "' aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>";
                itemList.append("<div>" + order_ + ") " + item.name + "<a href='#' class='srvup-item-upload float-right' data-id='" + id_ + ")'>X</a> <br/>" + html_ + "</div><hr/>")

            })
        }


        function uploadFile(fileItem) {
            var policyData;
            var newLoadingItem;
            // get AWS upload policy for each file uploaded through the POST method
            // Remember we're creating an instance in the backend so using POST is
            // needed.
            $.ajax({
                method: "POST",
                data: {
                    filename: fileItem.name
                },
                url: "/api/files/policy/",
                success: function (data) {
                    policyData = data
                },
                error: function (data) {
                    alert("An error occured, please try again later");
                    console.log("Data: " + JSON.stringify(data))
                }
            }).done(function () {
                // construct the needed data using the policy for AWS
                var fd = constructFormPolicyData(policyData, fileItem);

                // use XML http Request to Send to AWS.
                var xhr = new XMLHttpRequest();

                // construct callback for when uploading starts
                xhr.upload.onloadstart = function (event) {
                    var inLoadingIndex = $.inArray(fileItem, fileItemList);
                    if (inLoadingIndex == -1) {
                        // Item is not loading, add to inProgress queue
                        newLoadingItem = {
                            file: fileItem,
                            id: policyData.file_id,
                            order: fileItemList.length + 1
                        };
                        fileItemList.push(newLoadingItem)
                    }
                    fileItem.xhr = xhr
                };

                // Monitor upload progress and attach to fileItem.
                xhr.upload.addEventListener("progress", function (event) {
                    if (event.lengthComputable) {
                        var progress = Math.round(event.loaded / event.total * 100);
                        fileItem.progress = progress;
                        displayItems(fileItemList)
                    }
                });

                xhr.upload.addEventListener("load", function (event) {
                    console.log("Complete, event: " + JSON.stringify(event));
                    // handle FileItem Upload being complete.
                    fileUploadComplete(fileItem, policyData)

                });

                xhr.upload.addEventListener("error", function (event) {
                    console.log("Error");

                    console.log(event.toString())
                });

                xhr.open('POST', policyData.url, true);
                xhr.send(fd);

                console.log(xhr.responseText);
            })
        }
    });

</script> <!-- Ensure it's not jquery-3.2.1.slim.min.js -->
</body>
</html>