<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIHackathon - Upload Solution</title>
</head>
<body>

{% if members %}
    {% for member in members %}
        {{ member.email }}
        {{ member.first_name }}
        {{ member.last_name }}
        {{ member.dob }}
        {{ member.phone }}
        {{ member.university }}
        {{ member.specialization }}
        {{ member.address_line_1 }}
        {{ member.address_line_2 }}
        {{ member.pincode }}
        {{ member.city }}
        {{ member.state }}
        {{ member.projects }}
        {{ member.team }}
    {% endfor %}
{% endif %}




</body>
</html>