<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/solutions/portalStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../webapp/static/webapp/styles.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIHackathon - Upload Solution</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'webapp/imgs/artificial-intelligence.png' %}"/>
    <!-- Bootstrap CSS-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Jquery Toast CSS -->
    <link href="{% static 'webapp/jquery.toast.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'solutions/portalStyles.css' %}">
    <!-- Noto Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- PT Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <!-- PT Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Oxygen Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <!-- Overpass Mono Font -->
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">
    <link href="{% static 'solutions/LineIcons.min.css' %}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- NAVBAR -->
{% include "webapp/navbar.html" %}

<input type="hidden" name="survey-filled" value="{{ survey_status }}"/>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid section">
            <!--        <div class="col section-team">-->
            <div class="row section-heading">
                <strong>{{ team_name}}</strong> &nbsp;({{ reg_no }}).
            </div>
{#            <div class="row">#}
{#                <div class="container-fluid">#}
{#                    <!--                    <div class="col">-->#}
{#                    <div class="row team-card-wrapper">#}
{#                        {% for member in members %}#}
{#                            <div class="col team-card">#}
{#                                <div class="team-card-header">#}
{#                                    Member {{ forloop.counter }}#}
{#                                    {% if forloop.counter == 1 %}#}
{#                                        (Mentor)#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="member-name">#}
{#                                    {{ member.first_name }} {{ member.last_name }}#}
{#                                </div>#}
{#                                <div class="member-college">#}
{#                                    {{ member.university }}#}
{#                                </div>#}
{#                                <div class="member-specialization">#}
{#                                    Specialization: {{ member.specialization }}#}
{#                                </div>#}
{#                                <div class="member-email">#}
{#                                    {{ member.email }} <br/>#}
{#                                    {{ member.phone }}#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{##}
{#                    </div>#}
{#                    <!--                    </div>-->#}
{#                </div>#}
{#            </div>#}
            <!--        </div>-->
        </div>
    </div>
    <div class="row">
        <div class="container-fluid section" style="padding-top: 0">
            <div class="row">
                <div class="container-fluid section-heading">Upload</div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row upload-card-wrapper">
                        <div class="upload-card">
                            <span style="font-weight: bold">Important Information:</span>
                            <br/><br/>
                            <ol>
                                <li>You are required to upload three files, namely:
                                    <ol style='margin-top: 4px; list-style: lower-alpha'>
                                        <li>Dockerfile: The user guide for creating the Dockerfile has been provided in
                                            the email sent to you. (Welcome to AI Hackathon)
                                        </li>
                                        <li>Program File: Upload your source code (single file or zip of your source
                                            code folder). Make sure to upload all files, including training codes.
                                        </li>
                                        <li>Presentation: A presentation detailing the approach used for design and
                                            development of the solution. You need to strictly follow the format given in
                                            the welcome mail.
                                        </li>
                                    </ol>
                                </li>
                                <li>You can upload solutions for both the problems. Please ensure you select the correct
                                    problem statement while uploading the solution.
                                </li>
                                <li>To upload a newer version of the solution, you can re-upload all the files of a
                                    particular problem statement. Your previous solution will automatically be
                                    over-written.
                                </li>
                            </ol>

                            <div class="card-bottom">
                                <div class="once-ready">Once you're ready,&nbsp;</div>
                                <button type="button" class="btn btn-dark" data-toggle="modal"
                                        data-target="#upload-modal"
                                        style="border-radius: 0; padding: 10px; background-color: #4a90e2; border: none;">
                                    Upload Solution &nbsp;<i class="lni-upload"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid section" style="padding-top: 0">
            <div class="row">
                <div class="container-fluid section-heading">FAQs</div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row upload-card-wrapper">
                        <div class="upload-card">
                            <ol class="faq-ol">
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">How many problem statements are there?</div>
                                        <div class="faq-answer">There are 2 problem statements provided.</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">Can a team work on more than 1 problem statement?
                                        </div>
                                        <div class="faq-answer">Yes.</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">What is a valid submission?</div>
                                        <div class="faq-answer">Your project submission is valid and considered for
                                            evaluation only if the
                                            documents are meeting the submission guidelines. Do carefully read through
                                            the
                                            guidelines before making the submission.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">When can we start submitting?</div>
                                        <div class="faq-answer">You can make the submissions as soon as you finish your
                                            project and upload all
                                            the files as per the submission guidelines on or before the cut-off date.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">What is the last date of solution submission?</div>
                                        <div class="faq-answer">8th Sept, 2019 is the last date for submission of
                                            solution.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">What else we need to provide other than solution?
                                        </div>
                                        <div class="faq-answer">A presentation has to be submitted along with the
                                            solution for each problem statement. A format is provided for the reference
                                            which should cover approached used, solution architecture, training
                                            methodology, testing methodology used and accuracy attained during testing
                                            by the team.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">Can we update the solution?</div>
                                        <div class="faq-answer">Yes, you can update the solution till the last date of
                                            submission just by replacing the previous solution you have provided.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">What type of datasets we should use or refer to?</div>
                                        <div class="faq-answer">You can refer to some of the libraries or datasets from
                                            internet which will help for intent identification from conversations. Some
                                            sample audio clips for different categories are provided in the
                                            <a href="https://ai-hackathon-upload.s3.ap-south-1.amazonaws.com/public/data.zip"
                                               style="color: red">link</a> can be used as reference to
                                            understand the data required. However, you can use any other technology or
                                            methodology for creating dataset.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">Can we create our own dataset?</div>
                                        <div class="faq-answer">
                                            Yes, you can create your own datasets too.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="faq">
                                        <div class="faq-question">Is there a skype round?</div>
                                        <div class="faq-answer">Yes, there will be a skype round for shortlisted teams.
                                            The duration of each team will be for 10 min. Teams selected after the slype
                                            round shall be invited for Round 02.
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Upload Modal-->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="border-radius: 0">
            <div class="modal-header" style="border-bottom: 0;">
                <h5 class="modal-title" id="upload-modal-label">Upload Solution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link pointy active" id="nav-problem-1-tab" data-toggle="tab"
                           href="#nav-problem-1" role="tab" aria-controls="nav-problem-1" aria-selected="true">Problem
                            1</a>
                        <a class="nav-item nav-link pointy " id="nav-problem-2-tab" data-toggle="tab"
                           href="#nav-problem-2" role="tab" aria-controls="nav-problem-2" aria-selected="false">Problem
                            2</a>
                        <a class="nav-item nav-link pointy " id="nav-quiz-tab" data-toggle="tab" href="#nav-quiz"
                           role="tab" aria-controls="nav-quiz" aria-selected="false">Survey</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-problem-1" role="tabpanel"
                         aria-labelledby="nav-problem-1-tab">
                        <div class="container file-status-wrapper">
                            <div class="row">
                                <div class="col file-status-box .custom-card dockerfile">
                                    <div class="status">Dockerfile: {{ file_status.1.docker }}</div>
                                    {% if file_status.1.docker == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                </div>
                                <div class="col file-status-box .custom-card prog-file">
                                    <div class="status">Program: {{ file_status.1.program }}</div>
                                    {% if file_status.1.program == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                </div>
                                <div class="col file-status-box .custom-card ppt-file" style="margin-right: 0">
                                    <div class="status">PPT: {{ file_status.1.ppt }}</div>
                                    {% if file_status.1.ppt == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div id="upload-zone" class="problem-01">

                            <!-- Uploader Dropzone -->
                            <form action="upload.php" id="zdrop" class="fileuploader center-align">
                                <i class="lni-cloud-upload size-lg" id="upload-label"></i>
                                <div class="tittle">Click the corresponding button above or drop anywhere on them to
                                    upload
                                    the files.
                                </div>
                            </form>

                            <!-- Preview collection of uploaded documents -->
                            <div class="preview-container">
                                <div class="collection" id="previews">
                                    <div class="collection-item clearhack custom-card item-template"
                                         id="zdrop-template">
                                        <div class="progress"></div>
                                        <div class="left pv zdrop-info" data-dz-thumbnail>
                                            <div class='file-upload-preview-name'>
                                                <span class="file-upload-name-span" data-dz-name></span>&nbsp;(<span
                                                    data-dz-size></span>)
                                            </div>
                                            <a href="#!" data-dz-remove><i class="lni-trash size-sm"
                                                                           style="color: #FF5722;"></i></a>
                                        </div>
                                        <!--                                                <div class="dz-error-message">Error: <span data-dz-errormessage></span></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="text-align: right">
                            <button class="btn btn-dark file-upload-btn">Upload</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-problem-2" role="tabpanel" aria-labelledby="nav-problem-2-tab">
                        <div class="container file-status-wrapper">
                            <div class="row">
                                <div class="col file-status-box .custom-card dockerfile">
                                    <div class="status dockerfile-input-div">
                                        Dockerfile: {{ file_status.2.docker }}</div>
                                    {% if file_status.2.docker == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                    {#                                    <div id="dropper-ind"></div>#}
                                </div>
                                <div class="col file-status-box .custom-card prog-file">
                                    <div class="status">Program: {{ file_status.2.program }}</div>
                                    {% if file_status.2.program == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                </div>
                                <div class="col file-status-box .custom-card ppt-file" style="margin-right: 0">
                                    <div class="status">PPT: {{ file_status.2.ppt }}</div>
                                    {% if file_status.2.ppt == 'Not Uploaded' %}
                                        <div class="red-bullet"></div>
                                    {% else %}
                                        <div class="green-bullet"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div id="upload-zone" class="problem-02">
                            <!-- Uploader Dropzone -->
                            <form action="#" id="zdrop" class="fileuploader center-align">
                                <i class="lni-cloud-upload size-lg" id="upload-label"></i>
                                <div class="tittle">Click the corresponding button above or drop anywhere on them to
                                    upload
                                    the files.
                                </div>
                            </form>

                            <!-- Preview collection of uploaded documents -->
                            <div class="preview-container">
                                <div class="collection" id="previews">
                                    <div class="collection-item clearhack custom-card item-template"
                                         id="zdrop-template">
                                        <div class="progress"></div>
                                        <div class="left pv zdrop-info" data-dz-thumbnail>
                                            <div class='file-upload-preview-name'>
                                                <span data-dz-name></span>&nbsp;(<span data-dz-size></span>)
                                            </div>
                                            <a href="#!" data-dz-remove><i class="lni-trash size-sm"></i></a>
                                        </div>
                                        <!--                                                <div class="dz-error-message">Error: <span data-dz-errormessage></span></div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid" style="text-align: right">
                                <button class="btn btn-dark file-upload-btn">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-quiz" role="tabpanel" aria-labelledby="nav-quiz-tab">
                        <div class="container">
                            <form action="{% url 'survey' %}" method="post" id="quiz">
                                {% csrf_token %}
                                <div class="form-group row" style="margin-top: 20px">
                                    <div class="col-md-10">
                                        <div class="form-check">
                                            <label class="form-check-label" for="response_1">
                                                Would you be interested on working with the Symbiosis Centre for Applied
                                                AI (SCAAI)?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_1" id="option2" value="on"
                                                       autocomplete="off">
                                                Yes
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_1" id="option3" value="off"
                                                       autocomplete="off">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-top: 20px">
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <label class="form-check-label" for="response_2">
                                                Would you be interested to work with SCAAI in collaboration with Tata
                                                Motors Ltd. to further develop the NLP based projects?
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_2" id="option2" value="on"
                                                       autocomplete="off">
                                                Yes
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_2" id="option3" value="off"
                                                       autocomplete="off">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-top: 20px">
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <label class="form-check-label" for="gridCheck3">
                                                Would you be interested in converting your idea (this or otherwise) into
                                                a startup?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_3" id="option2" value="on"
                                                       autocomplete="off">
                                                Yes
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_3" id="option3" value="off"
                                                       autocomplete="off">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-top: 20px">
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <label class="form-check-label" for="gridCheck4">
                                                Would you be interested in registering your startup with Symbiosis
                                                Centre of Entrepreneurship and Innovation Startup Incubator?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_4" id="option2" value="on"
                                                       autocomplete="off">
                                                Yes
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="response_4" id="option3" value="off"
                                                       autocomplete="off">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" style="text-align: right">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-dark" id="survey-button">Save Responses
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% include "webapp/footer.html" %}
<script>
    $(document).ready(function () {

            const FILE_TYPE_INVALID = -1
            const DOCKERFILE = 0
            const PROGRAM_FILE = 1
            const PPT = 2

            const PROBLEM_01 = 1
            const PROBLEM_02 = 2

            const FILE_TYPES = [DOCKERFILE, PROGRAM_FILE, PPT];

            const FILE_TYPE_DESC = {
                [DOCKERFILE]: 'Dockerfile',
                [PROGRAM_FILE]: 'Program File/Zip File',
                [PPT]: 'Presentation File',
            }

            const CLICKABLE_INTERMEDIARY = {
                [DOCKERFILE]: '.dockerfile',
                [PROGRAM_FILE]: '.prog-file',
                [PPT]: '.ppt-file',
            }

            const PROBLEM_IDS = {
                [PROBLEM_01]: '#nav-problem-1',
                [PROBLEM_02]: '#nav-problem-2',
            }

            function getKeyFromVal(object, val) {
                for (var key in object) {
                    if (object[key] == val) return key;
                }

                return undefined;
            }

            const FILE_TYPE_CLASSES = {
                [DOCKERFILE]: 'Dockerfile',
                [PROGRAM_FILE]: 'Python/Zip File',
                [PPT]: 'PPT/PPTX File',
            }
            // Disable survey if already taken

	   // Disable survey if already taken.
	          if (checkForSurvey()) {

                $('#survey-button').attr('disabled', 'disabled');
            }

            var activeTab = '1';

            initDroppableZones()

            removeDummyPreviews()

            $('#nav-tab a[data-toggle="tab"]').on('click', function (e) {
                activeTab = e.target.toString().split('#').pop().split('-').pop()
                {#activeTab = e.target;#}
                console.log("Voila " + activeTab)
            });

            let uploadWatcher = {
                set: function (object, prop, value) {
                    {#console.log(`${object} ${prop} ${value}`)#}
                    object[prop] = value
                }
            }


            let filesToUpload = {
                [PROBLEM_01]: {},
                [PROBLEM_02]: {},
            }


            let disabledUploadButton = true

            function removeDummyPreviews() {
                for (let problem in PROBLEM_IDS) {
                    let currentProblemId = PROBLEM_IDS[problem]

                    let previewNode = document.querySelector(`${currentProblemId} #zdrop-template`);
                    let previewTemplate = previewNode.parentNode.innerHTML;
                    previewNode.parentNode.removeChild(previewNode);
                }
            }

            function initDroppableZones() {
                let dropZone = `<div id='dropper-ind'></div>`

                for (let problem in PROBLEM_IDS) {
                    for (let target in CLICKABLE_INTERMEDIARY) {
                        $(`${PROBLEM_IDS[problem]} ${CLICKABLE_INTERMEDIARY[target]}`).append(dropZone)

                        let className = CLICKABLE_INTERMEDIARY[target];

                        console.log(`${PROBLEM_IDS[problem]} ${CLICKABLE_INTERMEDIARY[target]}`)
                        initIndividualUploaders(`${PROBLEM_IDS[problem]} ${CLICKABLE_INTERMEDIARY[target]} #dropper-ind`, target, CLICKABLE_INTERMEDIARY[target])

                        console.info("Done")
                    }
                }
            }

            function getFileType(file) {
                var extension = file.name.split('.').pop().toLowerCase(); //file.substr( (file.lastIndexOf('.') +1) );

                if (file.name === 'Dockerfile') {
                    return DOCKERFILE
                }

                switch (extension) {
                    case 'dockerfile':
                        return DOCKERFILE
                    case 'py':
                        return PROGRAM_FILE
                    case 'R':
                        return PROGRAM_FILE
                    case 'ppt':
                        return PPT
                    case 'pptx':
                        return PPT
                    case 'pdf':
                        return PPT
                    case 'zip':
                        return PROGRAM_FILE
                    default:
                        return FILE_TYPE_INVALID
                }
            }

            function initIndividualUploaders(target, fileType, clickableIntermediary) {

                let currentProblemId = target.split(" ")[0];
                let previewNode = document.querySelector(`${currentProblemId} #zdrop-template`);
                {#previewNode.id = "";#}
                let previewTemplate = previewNode.parentNode.innerHTML;

                let zdrop = new Dropzone(target, {
                    url: 'some_url_here',
                    maxFiles: 1,
                    {#maxFilesize: 30,#}
                    previewTemplate: previewTemplate,
                    previewsContainer: `${currentProblemId} #previews`,
                    clickable: `${currentProblemId} ${clickableIntermediary} #dropper-ind`,
                    accept: function (file, done) {
                        let currentFileType = getFileType(file)

                        if (currentFileType == fileType) {
                            if (activeTab != null) {
                                filesToUpload[`${activeTab}`][fileType] = file
                            }
                        } else {
                            this.removeFile(file)
                            showError(`Please upload a valid ${FILE_TYPE_CLASSES[fileType]}.`)
                        }
                    }
                });

                zdrop.on("addedfile", function (file) {
                    $(`${currentProblemId} .preview-container`).css('visibility', 'visible');

                    if (this.files[1] != null) {
                        this.removeFile(this.files[0]);
                    }
                });

                zdrop.on("totaluploadprogress", function (progress) {
                    var progr = document.querySelector(".progress .determinate");
                    if (progr === undefined || progr === null)
                        return;

                    progr.style.width = progress + "%";
                });

                zdrop.on('dragenter', function () {
                    $(target).addClass("active");
                });

                zdrop.on('dragleave', function () {
                    $(target).removeClass("active");
                });

                zdrop.on('drop', function () {
                    $(target).removeClass("active");
                });

                zdrop.on('removedfile', function (file) {
                    delete filesToUpload[activeTab][fileType]
                });

            }

            function initFileUploader(target) {
                let currentProblemId = target.split(" ")[0];

                var previewNode = document.querySelector(`${currentProblemId} #zdrop-template`);
                previewNode.id = "";
                var previewTemplate = previewNode.parentNode.innerHTML;
                previewNode.parentNode.removeChild(previewNode);


                var zdrop = new Dropzone(target, {
                    url: 'upload.php',
                    maxFiles: 3,
                    {#maxFilesize: 30,#}
                    previewTemplate: previewTemplate,
                    previewsContainer: `${currentProblemId} #previews`,
                    clickable: `${currentProblemId} #upload-label`,
                    accept: function (file, done) {
                        let fileType = getFileType(file)

                        if (fileType === 'invalid') {
                            this.removeFile(file)
                            showError('Invalid file type. ' + fileType)
                        } else {
                            if (activeTab != null) {
                                if (fileType === PROGRAM_FILE) {
                                    filesToUpload[`${activeTab}`]['prog'] = file
                                } else if (fileType === DOCKERFILE) {
                                    filesToUpload[`${activeTab}`]['docker'] = file
                                } else if (fileType === PPT) {
                                    filesToUpload[`${activeTab}`]['ppt'] = file
                                } else {
                                    showError("This file can not be uploaded. Valid: py/r/zip/Dockerfile/ppt/pptx")
                                }
                            }
                        }
                    }
                });

                zdrop.on("addedfile", function (file) {
                    $(`${currentProblemId} .preview-container`).css('visibility', 'visible');

                    if (this.files.length) {
                        var _i, _len;
                        for (_i = 0, _len = this.files.length; _i < _len - 1; _i++) // -1 to exclude current file
                        {
                            if (this.files[_i].name === file.name && this.files[_i].size === file.size && this.files[_i].lastModifiedDate.toString() === file.lastModifiedDate.toString()) {
                                this.removeFile(file);
                            }
                        }
                    }
                });

                zdrop.on("totaluploadprogress", function (progress) {
                    var progr = document.querySelector(".progress .determinate");
                    if (progr === undefined || progr === null)
                        return;

                    progr.style.width = progress + "%";
                });

                zdrop.on('dragenter', function () {
                    $(`${currentProblemId} .fileuploader`).addClass("active");
                });

                zdrop.on('dragleave', function () {
                    $(`${currentProblemId} .fileuploader`).removeClass("active");
                });

                zdrop.on('drop', function () {
                    $(`${currentProblemId} .fileuploader`).removeClass("active");
                });
            }

            // setup session cookie data. This is Django-related
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // end session cookie data setup.


            // declare an empty array for potential uploaded files
            var fileItemList = [];

            function showError(erorrMsg) {
                $.toast({
                    heading: 'Error',
                    text: erorrMsg,
                    icon: 'error',
                    hideAfter: 5000
                });
            }

            function checkForSurvey() {
                let surveyStatus = $(`input[name='survey-filled']`).val();

                if (surveyStatus == 'False') {
                    showError("<big>Please take a minute to fill the survey first. (Upload Solution > Survey)</big>");
                    return false;
                } else return true;
            }

            // Do on button press
            $('.file-upload-btn').on('click', function (event) {

                    // Consider active Tab as well
                    if (!checkForSurvey()) return;

                    let currentTabFiles = filesToUpload[`${activeTab}`];

                    let stopFunction = false;

                    FILE_TYPES.every((fileType, index) => {
                        if (!(fileType in currentTabFiles)) {
                            showError(FILE_TYPE_DESC[fileType] + " is missing.");
                            stopFunction = true;
                            return false;
                        } else {
                            return true;
                        }
                    });

                    if (stopFunction) return;

                    FILE_TYPES.forEach((val, index, arr) => {
                        uploadFile(filesToUpload[activeTab][val], ['docker', 'program', 'ppt'][index])
                    })

                    window.setTimeout(function () {
                        alert("Uploaded Successfully.")
                        // TODO Refresh the page
                    }, 1000);

                    event.stopPropagation()

                    // TODO: RERESH THE PAGE
                }
            );

            function verifyValidType(file, type) {
                // verifies the file extension is one we support.
                var extension = file.name.split('.').pop().toLowerCase(); //file.substr( (file.lastIndexOf('.') +1) );

                return !!extension.localeCompare(type.toLowerCase());
            }

            function constructFormPolicyData(policyData, fileItem) {
                var contentType = fileItem.type != '' ? fileItem.type : 'application/octet-stream';
                var url = policyData.url;
                var filename = policyData.filename;
                var repsonseUser = policyData.fields.user;
                // var keyPath = 'www/' + repsonseUser + '/' + filename
                var keyPath = policyData.file_bucket_path;

                let credential = policyData['fields']['x-amz-credential'];
                let algorithm = policyData['fields']['x-amz-algorithm'];
                let date = policyData['fields']['x-amz-date'];
                let signature = policyData['fields']['x-amz-signature'];

                let authorizationHeader = `${algorithm} Credential=${credential}, SignedHeaders=${contentType};host;${date}, Signature=${signature}`;

                var fd = new FormData();

                $.each(policyData.fields, function (key, value) {
                    fd.append(key, value)
                });

                fd.append('file', fileItem);

                return fd
            }

            function fileUploadComplete(fileItem, policyData) {
                data = {
                    uploaded: true,
                    fileSize: fileItem.size,
                    file: policyData.file_id,

                };
                $.ajax({
                    method: "POST",
                    data: data,
                    url: "/api/files/complete/",
                    success: function (data) {
                        displayItems(fileItemList)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Status: " + textStatus);
                        console.log("Error: " + errorThrown);
                        alert("An error occured, please refresh the page.")
                    }
                })
		
		alert(`${fileItem.name} uploaded.`);
            }

            function displayItems(fileItemList) {
                var itemList = $('.item-loading-queue');
                itemList.html("");
                $.each(fileItemList, function (index, obj) {
                    var item = obj.file;
                    var id_ = obj.id;
                    var order_ = obj.order;
                    var html_ = `<div class="progress"><div class="progress-bar" role="progressbar" style='width:${item.progress}%' aria-valuenow='${item.progress}' aria-valuemin="0" aria-valuemax="100"></div></div>`;
                    itemList.append("<div>" + order_ + ") " + item.name + "<a href='#' class='srvup-item-upload float-right' data-id='" + id_ + ")'>X</a> <br/>" + html_ + "</div><hr/>")
                })
            }


            function uploadFile(fileItem, filetype, progressTarget) {
                var policyData;
                var newLoadingItem;
                // get AWS upload policy for each file uploaded through the POST method
                // Remember we're creating an instance in the backend so using POST is
                // needed.
                if (activeTab == null) {
                    showError("Active Tab couldn't be found. Please try switching to other tab and then opening this again.")
                    return;
                }

                $.ajax({
                    method: "POST",
                    data: {
                        filename: fileItem.name,
                        filetype: filetype,
                        problem: activeTab
                    },
                    url: "/api/files/policy/",
                    success: function (data) {
                        policyData = data
                    },
                    error: function (data) {
                        showError("An error occurred, please try again later");
                        showError("Data: " + JSON.stringify(data))
                    }
                }).done(function () {
                    // construct the needed data using the policy for AWS
                    var fd = constructFormPolicyData(policyData, fileItem);

                    // use XML http Request to Send to AWS.
                    var xhr = new XMLHttpRequest();

                    // construct callback for when uploading starts
                    xhr.upload.onloadstart = function (event) {
                        var inLoadingIndex = $.inArray(fileItem, fileItemList);
                        if (inLoadingIndex == -1) {
                            // Item is not loading, add to inProgress queue
                            newLoadingItem = {
                                file: fileItem,
                                id: policyData.file_id,
                                order: fileItemList.length + 1
                            };
                            fileItemList.push(newLoadingItem)
                        }
                        fileItem.xhr = xhr
                    };

                    // Monitor upload progress and attach to fileItem.
                    xhr.upload.addEventListener("progress", function (event) {
                        if (event.lengthComputable) {
                            var progress = Math.round(event.loaded / event.total * 100);
                            fileItem.progress = progress;
                            displayItems(fileItemList)
                        }
                    });

                    xhr.upload.addEventListener("load", function (event) {
                        console.log("Complete, event: " + JSON.stringify(event));
                        // handle FileItem Upload being complete.
                        fileUploadComplete(fileItem, policyData)

                    });

                    xhr.upload.addEventListener("error", function (event) {
                        console.log("Error");

                        showError(event.toString())
                    });

                    xhr.open('POST', policyData.url, true);
                    xhr.send(fd);

                    console.log(xhr.responseText);
                })
            }
        }
    )
    ;

</script>

<script src="{% static 'solutions/dropzone.js' %}"></script>
<script src="{% static 'webapp/js/jquery.toast.js' %}" type="text/javascript"></script>

</body>
</html>
