.section-blue{
	background: linear-gradient(304.06deg, #06054B 0%, #3301B7 100.66%);
	padding-bottom: 60px;
}

.navbar-bg-custom{
	background: linear-gradient(304.06deg, #06054B 0%, #3301B7 100.66%);
	height: 80px;
}

.navbar-custom{
	margin-right: 20px;
}

.nav-item-link{
	margin-right: 20px;	
}

#link-color:hover{
	color: white;
	opacity: 1;
}

#link-color{
	color: white;
	opacity: 0.65;
	font-family: 'Noto Sans',sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.scrolled{
	background: none;
	background-color: white !important;
	transition: background 500ms;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorChange{
	color: #3301B7 !important;
	transition: color 500ms;
}

.jumbotron{
	background: transparent;
	margin-bottom: 70px;
}

.img-div img{
	/*width: 100%;*/
	height: 475px;
}

#hackathonTitle{
	font-family: 'PT Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	line-height: 78px;
	display: flex;
	align-items: center;
	text-align: justify;
	color: #FFFFFF;
}

/*#hackathonTag{
	font-family: 'Oxygen Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 39px;
	display: flex;
	align-items: center;
	text-align: justify;
	color: rgba(255, 255, 255, 0.74);
}*/

#app{
	font-family: 'Oxygen Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 39px;
	display: flex;
	align-items: center;
	text-align: justify;
	color: rgba(255, 255, 255, 0.74);
}

#cohost{
	font-family: 'Overpass Mono', monospace;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 46px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-top: 50px;
}

.registerBtn{
	background-color: #E73001;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-decoration: none;
  	margin-top: 50px;
  	cursor: pointer;
  	width: 471px;
	height: 88px;
	font-family: Oxygen Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
}

.registerBtn:hover{
	text-decoration: none;
	color: #FFF;
	background-color: #FF3400
}

.registration-box{
	background: transparent;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#registration-title{
	font-size: 34px;
	text-transform: uppercase;
	color: #FFF;
	font-family: 'PT Mono', monospace;
	line-height: 38px;
	letter-spacing: 0.055em;
}

#clock{
	font-family: 'PT Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
}

.white-box{
	background: #FFF;
	position: relative;
}

.page-titles{
	position: absolute;
	top: -34px;
	left: 52px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-titles h3{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 52px;
	text-align: center;
	color: #170473;
}

.page-info{
	padding-top: 100px;
	padding-bottom: 100px;
}

.page-info p{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-align: justify;
}

.blue-box{
	background: #21409A;
	position: relative;
}

#circle {
    background-color:#fff;
    border:1px solid red;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    padding: 5px;
}

#participateImage{
	height: 80px;
	margin-bottom: 12px;
}

 #participateTitle{
 	color: #FFF;
 	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	line-height: 74px;
	text-align: center;
 }

#participateInfo{
 	margin-top: 15px;
 	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
 }

.custom-card{
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#organizerImage{
	height: 80px;
	margin-bottom: 12px;
}

#eligibilityImage{
	height: 80px;
	margin-bottom: 12px;
}

#card-text-info{
 	margin-top: 15px;
 	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	text-align: justify;
	color: #000000;
 }

 .judgesImage{
 	background-image: url("../../static/app/imgs/DrKetan.png");
 	height: 360px;
 	background-repeat: no-repeat;
 	background-size: contain;
 }

 .judgeGradient{
 	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #000000 140%);
 	height: 360px;
 }

.judgeInfoBox{
	position: absolute;
	bottom: 0;
	padding-left: 20px;
	padding-bottom: 10px;
}

 .judgeInfo{
 	color: #FFF;
 	justify-content: start;
 	margin-bottom: 0;
 	line-height: 30px !important;
 }
 
.judgeInfoDesignation{
 	color: #FFF;
 	justify-content: start;
 	margin-bottom: 0;
 	line-height: 30px !important;
 	font-size: 20px !important;
 }